# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Dependencies
node_modules
.pnpm-store

# Production & Build outputs
dist
dist-ssr
build
.output
.vinxi
.tanstack/**
.nitro

# Logs & Temp
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.cache
.temp
.tmp

# Wrangler / Cloudflare
.wrangler/
.dev.vars

# Editor, IDE & System
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Agent & AI tools temp data
.gemini
.antigravity

